body {
    background-color: cornflowerblue;
}
h1 {
    font-family: 'Pacifico', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px #000; 
    text-align: center;
}
h1 > span {
    color: #333;
    text-shadow: 1px 1px 2px #fff;
}
.piano {
    outline: 1px solid #000;
    position: relative;
    width: 45%;
    height: 50%;
    margin: 1.625em auto;
    background-color: #fff;
}
.piano .outerKeys {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.piano .innerKeys {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.mKey {
    width: 14.285%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000;
    float: left;
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -ms-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
.sKey {
    width: 10%;
    height: 56%;
    background-color: #222;
    outline: 1px solid #000;
    border: 1px solid #000;
    float: left;
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -ms-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
.sKey:nth-child(1) {
    margin-left: 9.5%;
}
.sKey:nth-child(2) {
    margin-left: 4.3%;
}
.sKey:nth-child(3) {
    margin-left: 18.5%;
}
.sKey:nth-child(4) {
    margin-left: 4.3%;
}
.sKey:nth-child(5) {
    margin-left: 4.3%;
}
.clearfix {
    clear: both;
}
.keyboardContainer {
    width: 80%;
    height: 45%;
    margin: auto;
    background-color: #111;
}
.keyboard {
    width: 100%;
    height: 80%;
}
.instructions {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #111;
    text-align: center;
    text-shadow: 0px 0px 3px #fff;
}
footer {
    font-family: 'Pacifico', sans-serif;
    padding: 0.9375em;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
footer > span {
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}